@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PlusJakartaSans';
	font-display: swap;
	src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
	font-weight: 400 900;
}

@font-face {
	font-family: 'PlusJakartaSans';
	font-display: swap;
	src: url('/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 400 900;
	font-style: italic;
}

@layer utilities {
	.H1Like {
		@apply text-5xl font-bold tracking-tight mb-8;
	}

	.H2Like {
		@apply text-4xl font-bold tracking-tight;
	}

	.H3Like {
		@apply text-2xl font-bold tracking-tight;
	}

	.H4Like {
		@apply text-xl font-bold tracking-tight;
	}

	.PLargeLike {
		@apply text-xl font-normal tracking-tight;
	}

	.PLike {
		@apply text-lg font-normal leading-relaxed;
	}

	.PSmallLike {
		@apply text-sm font-normal;
	}

	.PreLike {
		@apply bg-frost-2 shadow-border-and-inner p-4 rounded-box text-sm overflow-x-auto;
	}

	.bg-frost {
		@apply bg-white/25;
	}

	.bg-frost-2 {
		@apply bg-white/75;
	}
}

@layer base {
	html {
		@apply font-display scroll-smooth text-gray-body accent-accent-700 underline-offset-2;
		font-size: 0.875rem;
	}

	*:focus-visible {
		/* important because it will be overridden by @dargmuesli/nuxt-cookie-control */
		@apply !outline-accent-700 !outline-offset-2 !outline-dashed !outline-2;
	}

	@screen md {
		html {
			font-size: 1rem;
		}
	}

	body,
	#__nuxt {
		@apply min-h-screen;
	}

	#__nuxt {
		@apply flex flex-col;
	}

	body {
		@apply overflow-x-hidden overflow-y-scroll;
	}

	pre {
		@apply PreLike;
	}

	h1 {
		@apply H1Like;
	}

	h2 {
		@apply H2Like;
	}

	h3 {
		@apply H3Like;
	}

	h4 {
		@apply H4Like;
	}

	details > summary {
		list-style: none;
	}

	details summary::-webkit-details-marker {
		display: none;
	}
}

@layer components {
	.UILink {
		@apply underline font-semibold underline-offset-2;
		@apply text-accent-700 decoration-accent-700/30;
	}

	.UIButtonGroup {
		@apply flex gap-4;
	}

	.UIButton {
		@apply inline-flex items-center justify-center whitespace-nowrap;
		@apply font-semibold;
		@apply px-8 h-14 rounded-xl disabled:opacity-25;
		@apply bg-accent-700 text-white;
		@apply transition-colors;
		@apply hover:bg-accent-700/90;
	}

	.UIButton-secondary {
		@apply bg-frost text-accent-700 shadow-sm;
		@apply shadow-border;
		@apply hover:bg-gray-50;
	}

	.UIInput {
		@apply block w-full px-4 bg-frost-2 shadow-border rounded-xl;
	}

	.UIInput {
		@apply h-12;
	}

	textarea.UIInput {
		@apply h-auto py-3;
	}

	.UICard {
		@apply bg-frost-2 shadow-border rounded-xl overflow-hidden;
	}
}
